{% extends "index.html"%}
{% block title %}Second Page{% endblock %}
{% block h1 %}Second Page{% endblock %}

{% block content %}
<p>Below is an example of an unordered list with styling from Bootstrap.</p>

<h3>Unordered List</h3>
<ul class="list-group">
  <li class="list-group-item">Apples</li>
  <li class="list-group-item">Bananas</li>
  <li class="list-group-item">Grapes</li>
  <li class="list-group-item">Oranges</li>
  <li class="list-group-item">Pineapples</li>
</ul>
<center><img style="margin-top: 12px;" src="static/images/pic5.JPG"  class="rotateimg180"></center>
{% endblock %}
